# Dependency directories
node_modules/

# Environment variables
.env
.arc/
.arc/*

# Build output directory
dist/

# Logs
logs/
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
